{% extends "base.html" %}

{% block content %}
  <h1>Type of dishes:</h1>
  <a href="{% url 'kitchen:dish_type-create' %}" class="ingredient-add" >➕</a>
  {% if dishtype_list %}
      {% for dish_type in dishtype_list %}
        <div class="ingredient-item">
        <span class="ingredient-name">{{ dish_type.name }}</span>
        <span class="ingredient-actions">
          <a href="{% url 'kitchen:dish_type-update' dish_type.pk %}" class="ingredient-edit">✏️</a>
          <a href="{% url 'kitchen:dish_type-delete' dish_type.pk %}" class="ingredient-delete">❌</a>
        </span>
      </div>
      {% endfor %}
  {% else %}
    <p>No types of dishes</p>
  {% endif %}
{% endblock %}
